<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSM_Analysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSM_Analysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <OSM_Analysis.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>mapsuser</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>mapsuser</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>Server= DESKTOP-OQ25EPJ\LOCALDB#B598D17C; Database= OSM_Bing</value>
            </setting>
        </OSM_Analysis.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <OSM_Analysis.Properties.Settings>
            <setting name="noOfRuns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fromToMinDist" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="tolerance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="areaSelectQuery" serializeAs="String">
                <value>SELECT * from COORDINATES where CITY = '&lt;AREA&gt;';</value>
            </setting>
            <setting name="jdbcUrl" serializeAs="String">
                <value>Server= DESKTOP-OQ25EPJ\LOCALDB#B598D17C; Database= OSM_Bing; User ID = mapsuser; Password=mapsuser</value>
            </setting>
            <setting name="disQuery" serializeAs="String">
                <value>DECLARE @source geography = 'POINT(&lt;POINT1_COR&gt;)' DECLARE @target geography = 'POINT(&lt;POINT2_COR&gt;)' SELECT @source.STDistance(@target) as VALUE;</value>
            </setting>
            <setting name="MinDistanceQuery" serializeAs="String">
                <value>DECLARE @g geography; SET @g = geography::STGeomFromText('LINESTRING(&lt;CORDINATE_STRING&gt;)', 4326); DECLARE @source geography = 'POINT(&lt;OSM_POINT&gt;)';  SELECT @source.STDistance(@g) as VALUE;</value>
            </setting>
            <setting name="AreaDefQuery" serializeAs="String">
                <value>Select * from AREA_DEF where CITY = '&lt;CITY&gt;' and STATE = '&lt;STATE&gt;' and COUNTRY = '&lt;COUNTRY&gt;' order by MAX_DEF_RANGE;</value>
            </setting>
            <setting name="ClearPrevAreaDefEntries" serializeAs="String">
                <value>DELETE from AREA_DEF where CITY = '&lt;CITY&gt;';</value>
            </setting>
            <setting name="AreaDefInsertQuery" serializeAs="String">
                <value>INSERT INTO AREA_DEF
  ([CITY]
  ,[STATE]
  ,[COUNTRY]
  ,[MAX_DEF_RANGE]
  ,[AVG_DEFLECTION]
  ,[DATASET_PTS_COUNT]) VALUES 
  ('&lt;CITY&gt;'
  ,'&lt;STATE&gt;'
  ,'&lt;COUNTRY&gt;'
  ,&lt;MAX_DEF_RANGE&gt;
  ,&lt;AVG_DEFLECTION&gt;
  ,&lt;DATASET_PTS_COUNT&gt;);</value>
            </setting>
            <setting name="HeatmapSelectQuery" serializeAs="String">
                <value>Select * from HEATMAP where CITY = '&lt;CITY&gt;' and STATE = '&lt;STATE&gt;' and COUNTRY = '&lt;COUNTRY&gt;' ORDER BY LAT_MAX;</value>
            </setting>
            <setting name="HeatMapInsertionQuery" serializeAs="String">
                <value>INSERT INTO [HEATMAP]
  ([CITY]
  ,[STATE]
  ,[COUNTRY]
  ,[LAT_MAX]
  ,[LONG_MAX]
  ,[AVG_DEFLECTION]
  ,[DATASET_PTS_COUNT])
  VALUES
  (&lt;CITY&gt;
  ,&lt;STATE&gt;
  ,&lt;COUNTRY&gt;
  ,&lt;LAT_MAX&gt;
  ,&lt;LONG_MAX&gt;
  ,&lt;AVG_DEFLECTION&gt;
  ,&lt;DATASET_PTS_COUNT&gt;)</value>
            </setting>
            <setting name="ClearPrevHeatmapEntries" serializeAs="String">
                <value>DELETE from HEATMAP where CITY = '&lt;CITY&gt;';</value>
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value>asd</value>
            </setting>
            <setting name="InsertCoordinateQuery" serializeAs="String">
                <value>INSERT INTO COORDINATES ([CITY] ,[Lat] ,[Long] ,[Priority]) VALUES ('&lt;AREA&gt;', &lt;LAT&gt;, &lt;LON&gt; , 1)</value>
            </setting>
            <setting name="ClearPrevGoogleHeatmap" serializeAs="String">
                <value>DELETE from GOOGLE_HEATMAP where CITY = '&lt;CITY&gt;';</value>
            </setting>
            <setting name="GoogleHeatMapInsertionQuery" serializeAs="String">
                <value>INSERT INTO [GOOGLE_HEATMAP]
  ([CITY]
  ,[STATE]
  ,[COUNTRY]
  ,[LAT_MAX]
  ,[LONG_MAX]
  ,[AVG_DEFLECTION]
  ,[DATASET_PTS_COUNT])
  VALUES
  (&lt;CITY&gt;
  ,&lt;STATE&gt;
  ,&lt;COUNTRY&gt;
  ,&lt;LAT_MAX&gt;
  ,&lt;LONG_MAX&gt;
  ,&lt;AVG_DEFLECTION&gt;
  ,&lt;DATASET_PTS_COUNT&gt;)
</value>
            </setting>
            <setting name="GoogleHeatmapSelectQuery" serializeAs="String">
                <value>Select * from GOOGLE_HEATMAP where CITY = '&lt;CITY&gt;' and STATE = '&lt;STATE&gt;' and COUNTRY = '&lt;COUNTRY&gt;' ORDER BY LAT_MAX;</value>
            </setting>
        </OSM_Analysis.Properties.Settings>
    </userSettings>
</configuration>